<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ImproveConnectionString" connectionString="Data Source=.;Initial Catalog=projeto_integrador_improve;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authorization>
      <deny users="?"/>
    </authorization>
    <authentication mode="Forms"/>
    <membership defaultProvider="AspNetSqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="AspNetSqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ImproveConnectionString" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed"/>
      </providers>
    </membership>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>
